<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vue Training</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- bootstrap files -->
    <script src="bootstrap/js/bootstrap.js"></script>

    <!-- styles files -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <div id="myApp">
            <h1>{{title}}</h1>

            <first-app></first-app>

            <hover-app></hover-app>

            <condition-app></condition-app>

            <loop-app></loop-app>
        </div>
    </div>

    <script type="text/x-template" id="first-app-template">
        <div class="firstApp">
            <p>{{message}}</p>
            <button type="button" class="btn btn-info" v-on:click="reverseMessage">Reverse message</button>
            <br><br>
        </div>
    </script>

    <script type="text/x-template" id="hover-app-template">
        <div class="hoverApp">
            <p v-bind:title="message">Hover me in few seconds to see my title</p>
        </div>
    </script>

    <script type="text/x-template" id="condition-app-template">
        <div class="conditionApp">
            <button type="button" class="btn btn-primary" v-on:click="seen = !seen">Click to see me</button>
            <br><br>
            <transition name="fade">
                <p v-if="seen">Now you see me</p>
            </transition>
        </div>
    </script>

    <script type="text/x-template" id="loop-app-template">
        <div class="loopApp">
            <ul>
                <li v-for="list in lists">{{list.text}}</li>
            </ul>
        </div>
    </script>

    <!-- vue script file -->
    <script src="js/script.js"></script>
</body>
</html>