<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Training</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- styles file -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="app">
        <p>{{message}}</p>
    </div>

    <div id="hoverApp">
        <p v-bind:title="message">Hover me in few seconds to see my title</p>
    </div>

    <div id="conditionApp">
        <p v-if="seen">Now you see me</p>
    </div>

    <div id="loopApp">
        <ul>
            <li v-for="list in lists">{{list.text}}</li>
        </ul>
    </div>

    <!-- vue script file -->
    <script src="js/script.js"></script>
</body>
</html>